:root {
	--dark-color: #18171a;
	--light-color: #EDF2F4;
	--green-color: #71BC3E;
	--purple-color: #5F006A;
}

$dark-color: var(--dark-color);
$light-color: var(--light-color);
$green-color: var(--green-color);
$purple-color: var(--purple-color);