//- Modules
-
	const modules = [
		{
			name:'Introducción al mundo digital',
			teacher: 'Liliana Bretón',
			description: 'Aprende a generar una percepción positiva de personas, empresas, organizaciones y marcas. Descubre la responsabilidad social y profesional del consultor de imagen.',
			photo:'mundo',
			color:'color-red',
			background: 'bgc-red'
		},
		{
			name:'Plan de Marketing Digital',
			teacher: 'Edgar Uribe',
			description: 'Conoce los distintos tipos de cuerpo y morfología de rostros en mujeres y hombres. Define tu estilo y personalidad, aplicando lo aprendido en tu propio proyecto de imagen personal.',
			photo:'marketing',
			color:'color-red',
			background: 'bgc-red'
		},
		{
			name:'Branding & Positioning',
			teacher: 'Enrique Rojas',
			description: 'Domina técnicas para expresar tus ideas de forma empática, efectiva y honesta. Mejora tu comunicación personal y profesional.',
			photo:'branding',
			color:'color-yellow',
			background: 'bgc-yellow'
		},
				{
			name:'Sitios web',
			teacher: 'Juan Carlos Tavera',
			description: 'Domina las actitudes para crecer profesional y personalmente. Desarrolla hábitos que te harán destacar en cualquier evento. Conecta con personas y establece relaciones a largo plazo.',
			photo:'web',
			color:'color-yellow',
			background: 'bgc-yellow'
		},
		{
			name:'Ecommerce',
			teacher: 'Hans Hatch',
			description: 'Aprende los fundamentos para elaborar una estrategia integral de comunicación. Desarrolla Conoce los medios digitales más adecuados, para comunicar de forma efectiva los atributos de tu marca personal.',
			photo:'ecommerce',
			color:'color-blue',
			background: 'bgc-blue'
		},
		{
			name:'Social Media',
			teacher: 'Felix Ríos',
			description: 'Desarrolla las habilidades personales y profesionales de tu equipo. Aprende a crea una imagen colectiva que distinga a tu empresa. Implementa dinámicas de motivación, expresión y rituales de interacción.',
			photo:'social',
			color:'color-blue',
			background: 'bgc-blue'
		},
				{
			name:'Influencer Marketing',
			teacher: 'Jessica Jalife',
			description: 'Reflexiona sobre la importancia de tener una marca personal. Aprende el paso a paso y desarrolla una marca exitosa. Fortalece tus comunicaciones y relaciones profesionales a través de tu marca.',
			photo:'media',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Email Marketing',
			teacher: 'Ennio Castillo',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'email',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Content marketing',
			teacher: 'Gianella Carvajal',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'content',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Marketing en buscadores',
			teacher: '-',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'buscadores',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Publicidad Digital',
			teacher: '-',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'publicidad',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Regulación digital',
			teacher: 'Ennio Castillo',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'regulacion',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Marketing automation',
			teacher: 'León Felipe Sánchez ',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'automation',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Tendencias del marketing digital',
			teacher: 'Jáck Ades',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'tendencias',
			color:'color-pink',
			background: 'bgc-pink'
		},
		{
			name:'Plan de acción',
			teacher: 'Hans Hatch',
			description: 'Aprende las tendencias de imagen personal. Ayuda a personas en tratamiento oncológico a sentirse y verse mejor. Mejora la confianza de personas te talla amplia y transmítela a los demás.',
			photo:'plan',
			color:'color-pink',
			background: 'bgc-pink'
		}
	]

//- Teachers
-
	const teachers = [
		{
			name: 'Liliana Bretón',
			title: '-',
			about: '-',
			instagram: 'Liliana Bretón',
			link: 'https://www.linkedin.com/in/liliana-breton-0952a1b/',
			photo: 'liliana',
			background: 'bgc-yellow'
		},
		{
			name: 'Edgar Rábago',
			title: '-',
			about: '-',
			instagram: 'Edgar Rábago',
			link: 'https://www.linkedin.com/in/edgaruriberabago/',
			photo: 'edgar',
			background: 'bgc-blue'
		},
		{
			name: 'Enrique Rojas',
			title: '-',
			about: '-',
			instagram: 'Enrique Rojas',
			link: 'https://www.linkedin.com/in/enrique-daniel-rojas-rojas-3415781b/',
			photo: 'enrique',
			background: 'bgc-pink'
		},
		{
			name: 'Juan Carlos Tavera',
			title: '-',
			about: '-',
			instagram: 'Juan Carlos Tavera',
			link: 'https://www.linkedin.com/in/jctaveram/',
			photo: 'juan',
			background: 'bgc-red'
		},
		{
			name: 'Hans Hatch',
			title: '-',
			about: '-',
			instagram: 'Hans Hatch',
			link: 'https://www.linkedin.com/in/hanshatch',
			photo: 'hans',
			background: 'bgc-pink'
		},
		{
			name: 'Felix Ríos',
			title: '-',
			about: '-',
			instagram: 'Felix Ríos',
			link: 'https://www.linkedin.com/in/felixriosc/',
			photo: 'felix',
			background: 'bgc-red'
		},
		{
			name: 'Jack Ades',
			title: '-',
			instagram: 'Jack Ades',
			link: 'https://www.linkedin.com/in/jackades',
			photo: 'jack',
			background: 'bgc-yellow'
		},
		{
			name: 'Ennio Castillo',
			title: '-',
			about: '-',
			instagram: 'Ennio Castillo',
			link: 'https://www.linkedin.com/in/castilloennio/',
			photo: 'ennio',
			background: 'bgc-blue'
		},
				{
			name: 'Gianella Carvajal',
			title: '-',
			about: '-',
			instagram: 'Giane Carvajal',
			link: 'https://www.linkedin.com/in/gianella-carvajal-ba40b235',
			photo: 'gianella',
			background: 'bgc-blue'
		},
				{
			name: 'León Felipe Sánchez',
			title: '-',
			about: '-',
			instagram: 'León Felipe',
			link: 'https://www.linkedin.com/in/leonfelipe/',
			photo: 'leon',
			background: 'bgc-blue'
		},
		{
			name: 'Jessi Jalife',
			title: '-',
			about: '-',
			instagram: 'Jessi Jalife',
			link: 'https://www.linkedin.com/in/jessica-natalia-jalife-78048020/',
			photo: 'jessica',
			background: 'bgc-blue'
		},
	]