meta(property="og:title" content="Diplomado Internacional de Marketing Digital")
meta(property="og:type" content="website")
meta(property="og:description" content="El más completo y accesible Diplomado Internacional de Marketing Digital en el mercado online.")
meta(property="og:url" content="https://asmedia.edu.mx/dimd/")
meta(property="og:image" content="https://asmedia.edu.mx/dimd/assets/images/og/og-large.png")
meta(property="fb:app_id" content="281613461863716")