extends ../templates/template
include ../mixins/lists

block header
	include ../includes/header
block main
	include ../includes/main
block modules
	include ../includes/modules
block teachers
	include ../includes/teachers
block divider
	include ../includes/divider
block promos
	include ../includes/promos
block form
	include ../includes/form
block contact
	include ../includes/contact
block footer
	include ../includes/footer
