.container
	div.diplomado
		img(src="assets/images/logos/logo-dimd-v.png", alt="Logo Diplomado")
	div.info
		ul
			li
				i.fa.fa-mobile-alt
				a(href="https://api.whatsapp.com/message/TYH3IWMQ237JL1" target="_blank") 222 263 7514
			li
				i.fa.fa-home
				a(href="http://asmedia.edu.mx" target="_blank") www.asmedia.edu.mx
			li
				i.fa.fa-map-marker
				a(href="https://g.page/asmedia?share" target="_blank") Av. Juárez #1511, Col. La Paz. Puebla, Mexico
			li
				i.fas.fa-lock
				a(href="https://asmedia.edu.mx/imagen360/aviso-privacidad.pdf", target="_blank", rel="noopener noreferrer") Aviso de Privacidad

	div.asmedia
		div 
			img(src="assets/images/logos/logo-asmedia.png", alt="Logo AsMedia")
		div.continua
			i.fas.fa-angle-double-right
			p Educación Continua  
		div 
			img(src="assets/images/logos/logo-hans-hatch.png", alt="Logo Hans Hatch")