.container
	h2 Registro 
	script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js")
	script(type="text/javascript").
		hbspt.forms.create({region: "na1", portalId: "19503569", formId: "552d3bdd-800e-482a-af35-dbaa9ab63c45"});
