.container
	.header-item
		img.header-logo(src="assets/images/logos/logo-dimd-v.png", alt="Logotipo Diplomado Internacional de Marketing Digital")
	.header-item
		ul.header-list
			+item('fas fa-video','Modalidad: ', 'Online - Vía Zoom')
			+item('far fa-play-circle','Inicio: ','15 de julio')
			+item('far fa-stop-circle','Fin: ','19 de noviembre')
			+item('fas fa-dollar-sign','Costo: ','$17,000.00 MXN (IVA incluido)','Pregunta por nuestras promociones.')
			+item('far fa-calendar','Días: ','Viernes de 16:00 a 20:00 hrs y Sábados de 9:00 a 13:00 hrs. - Hora México')