.container#main
	h2.headline-about Acerca del Diplomado
	.main-container
		.main-about
			p Los constantes cambios en la economía, los mercados y la tecnología así como los avances y tendencias en los medios y plataformas digitales exigen mantenerse actualizados y capacitados para la supervivencia de las marcas, empresas y organizaciones.
			p Aprende y/o actualiza tus conocimientos en Marketing Digital junto a los más destacados profesionales de la industria en este Diplomado que, sin duda, es el mejor, más completo y accesible programa on-line en el mercado:
	.main-highlights
		ul
			li
				p: i.fas.fa-award
				p.highlight-text 160 horas de capacitación teórica y práctica.
			li
				p: i.far.fa-check-circle
				p Contenidos actuales y de vanguardia.
			li
				p: i.fas.fa-user-check
				p Instructores nacionales e internacionales altamente reconocidos por su trayectoria.
			li
				p: i.far.fa-smile
				p Desarrollo de un proyecto transversal a lo largo del programa para poner en práctica lo aprendido.
			li
				p: i.fas.fa-money-bill-wave-alt
				p La mejor inversión en relación costo - beneficio que existe actualmente en el mercado.
	.main-container
		.main-about
			p No dejes pasar esta gran oportunidad que As Media Centro de Formación Profesional y Hatch Experiential Marketing Agency ponen a tu alcance y desarrolla, de la mano de los expertos, el Plan de Marketing Digital que necesitas para potenciar tu marca y lograr los objetivos de negocio que siempre has deseado.