.container
	h2 Promoción
	.promo-container
		.promo-item
			h5 25% de Descuento
			p Costo final: $12,750.00 - iva incluido
			p.big 3 Parcialidades
			p Opciones de pago
			ul 
				li
					i.far.fa-check-circle
					p Depósito
				li
					i.far.fa-check-circle
					p Efectivo
				li
					i.far.fa-check-circle
					p Transferencia
			p.big 3 meses sin intereses
			img(src="assets/images/logos/tarjetas.png", alt="Imagen de Tarjetas")